/*** THEMES ***/

:root {
    --bg_img: url('img/background.png');
    --bg-color: black;
    
    --text-color0: white;
}

/*** BODY ***/

body {
    background-color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
    color: var(--text-color0);
}

body::after {
    content: "";
    background-image: var(--bg_img);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

a {
    color: inherit;
    text-decoration: inherit;
}  

img.logo {
    height: 5rem;
}

/*** NAVBAR ***/

.navbar {
    height: 5rem;
    width: 100%;
    background: var(--bg-color);
    color: var(--text-color0)
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.nav-item {
    font-size: 2.5rem;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
}

.nav-item:hover {
    opacity: 0.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
    font-weight: bold;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    img.logo {
        height: 2.5rem;
    }
    .navbar {
        height: 3rem;
    }
    .nav-item {
        font-size: 1rem;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}