/*** THEMES ***/

:root {
    --bg_img: url('img/background.png');
    --bg: black;
    
    --text-color0: white;
}

/*** BODY ***/

body {
    background-color: var(--bg);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: var(--text-color0);
}

body::after {
    content: "";
    background-image: var(--bg_img);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

a {
    color: inherit;
    text-decoration: inherit;
}  
  
/*** NAVBAR ***/

.navbar {
    height: 5em;
    width: 100%;
    background: var(--bg);
    color: var(--text-color0)
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.nav-item {
    font-size: 1.5em;
}

.nav-item:hover {
    opacity: 0.5;
}